doctype
html
  head
    != partial("_partial/head")
    link(rel="stylesheet" href="/main.css")
  body
  .container
    != yield
    :markdown
      ---

      *I will update the advice and guides as I discover more to share. Check them out now and make your own informed decision. You can [follow me on Twitter](https://twitter.com/charles_rt) for updates and more like this.*

    iframe(style='height:264px;width:100%;margin:16px auto;', src='https://upscri.be/6814f0?as_embed')

  != partial("_partial/nav")
