doctype
html
  head
    != partial("_partial/head")
    link(rel="stylesheet" href="/main.css")
  body
  .container
    != yield
    :markdown
      ---

      *I will update the advice and guides as I discover more to share. Check them out now and make your own informed decision. You can [follow me on Twitter](https://twitter.com/charles_rt) for updates and more like this.*

      *(Yes, I still use Twitter. I get value from it. For now.)*
  != partial("_partial/nav")
