doctype
html
  head
    != partial("_partial/head")
    link(rel="stylesheet" href="/main.css")
  body
  .container
    != yield
    :markdown
      ---

      *I am adding more advice and delete guides. You can [follow me on Twitter](https://twitter.com/charles_rt) for updates and more like this.*

      Sign up for my newsletter to join the conversations around deletism, ethical design and privacy. Just one email once a month (sometimes less). No spam. No data sharing.

    form(name="subscribe" netlify-honeypot="bot-field" method="POST" netlify)
      p.hidden
        label Don’t fill this out if you're human:
        input(name="bot-field")
      p
        label Your email address
        input(type="email" name="email")
        button(type="submit") Join

  != partial("_partial/nav")
