@font-face
  font-family 'Anonymous Pro'
  font-style normal
  font-weight 400
  src local('Anonymous Pro Regular'), local('AnonymousProRegular'), url('fonts/AnonymousPro-Regular.ttf') format('truetype')

@font-face
  font-family 'Anonymous Pro'
  font-style italic
  font-weight 400
  src local('Anonymous Pro Italic'), local('AnonymousProItalic'), url('fonts/AnonymousPro-Italic.ttf') format('truetype')

@font-face
  font-family 'Anonymous Pro'
  font-style normal
  font-weight 700
  src local('Anonymous Pro Bold'), local('AnonymousProBold'), url('fonts/AnonymousPro-Bold.ttf') format('truetype')

@font-face
  font-family 'Anonymous Pro'
  font-style italic
  font-weight 700
  src local('Anonymous Pro Bold Italic'), local('AnonymousProBoldItalic'), url('fonts/AnonymousPro-BoldItalic.ttf') format('truetype')

// Config -----------------------------------
syntax-hue =          220;
syntax-saturation =   13%;
syntax-brightness =   18%;

// Monochrome -----------------------------------
mono-1 = hsl(syntax-hue, 14%, 71%); // default text
mono-2 = hsl(syntax-hue,  9%, 55%);
mono-3 = hsl(syntax-hue, 10%, 40%);

// Colors -----------------------------------
hue-1 =   hsl(187, 47%, 55%); // <-cyan
hue-2 =   hsl(207, 82%, 66%); // <-blue
hue-3 =   hsl(286, 60%, 67%); // <-purple
hue-4 =   hsl( 95, 38%, 62%); // <-green

hue-5 =   hsl(355, 65%, 65%); // <-red 1
hue-5-2 = hsl(  5, 48%, 51%); // <-red 2

hue-6 =   hsl( 29, 54%, 61%); // <-orange 1
hue-6-2 = hsl( 39, 67%, 69%); // <-orange 2

// Base colors -----------------------------------
syntax-fg =     mono-1;
syntax-bg =     hsl(syntax-hue, syntax-saturation, syntax-brightness);
syntax-gutter = darken(syntax-bg, 26%);
syntax-guide =  hsla(syntax-fg, 15%);
syntax-accent = hsl(syntax-hue, 100%, 66% )

// Fonts -----------------------------------

headingstack = 'Anonymous Pro', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace
stack = 'Alegreya Anti Alpha', 'Avenir Next', Avenir, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif

x3 = 3em //64px
x2 = 2em //32px
x1 = 1em //16px
x50 = .5em //8px
x25 = .25em //4px

// html
//   border-top x50 solid syntax-guide

body
  font 400 x1 / 1.6 stack
  color syntax-fg
  background-color syntax-bg
  border-top x25 dashed syntax-guide
  margin x50 0 0 0
  padding 0 x50
  text-size-adjust 100%
  font-feature-settings 'kern' 1
  font-kerning normal

h1, h2, h3, h4, h5, h6, p, a, ul
  margin x1 0

h1, h2, h3, h4, h5, h6
  color hue-5
  margin 1x 0 2x 0
  font-family headingstack
  font-weight 400
  line-height 1.2

h1:before
  content '# '

h2:before
  content '## '

h3:before
  content '### '

h4:before
  content '#### '

h5:before
  content '##### '

h6:before
  content '###### '

blockquote
  background syntax-gutter
  color mono-2
  display inline-block
  font-style italic
  :before
    content '> '
    margin-left -1em

  p
    display inline

p
  margin x1 0

a
  color hue-2
  // :visited
  //   color hue-4
  :hover
    color hue-1
    text-decoration line-through

strong
  color hue-6
  :before, :after
    content '**'

em
  color hue-3
  :before, :after
    content '*'

label
  color duskriver
  display block
  margin 0 0 x25

input
  width 50%
  background syntax-gutter
  border none
  color syntax-fg
  font-size x1
  padding x50

button
  background syntax-guide
  color syntax-fg
  border none
  font-size x1
  padding x50 x1
  margin-left x1

button:hover
  background hsla(syntax-fg, 30%);

hr
  border none
  border-top x25 dashed syntax-guide
  margin x50 0

.full-width
  background syntax-gutter
  margin 0 (-1 * x50)
  padding x25 0

.container
  max-width 512px
  margin 0 auto

.hidden
  display none
