meta(charset='utf-8')
title Delete the excess
meta(name='description', content='A series of advice and guides for the privacy conscious and the minimalists; trying to reduce their digital data footprint, become anonymous, and make time.')
meta(name='author', content='Charles Reynolds-Talbot')
meta(name='viewport', content='width=device-width, initial-scale=1')

meta(property='og:site_name', content='Delete the excess')
meta(property='og:type', content='website')
meta(property='og:image', content='/delete-the-excess.png')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:image:src', content='/delete-the-excess.png')
