meta(charset='utf-8')
title Be a Deletist. Delete the excess.
meta(name='description', content='Advice and guides on how to reduce your digital data footprint, become anonymous, and make more time. This is for the privacy conscious, the minimalists and everyone else.')
meta(name='author', content='Charles Reynolds-Talbot')
meta(name='viewport', content='width=device-width, initial-scale=1')

meta(property='og:site_name', content='Be a Deletist. Delete the excess.')
meta(property='og:type', content='website')
meta(property='og:title', content='Be a Deletist. Delete the excess.')
meta(property='og:description', content='Advice and guides on how to reduce your digital data footprint, become anonymous, and make more time. This is for the privacy conscious, the minimalists and everyone else.')
meta(property='og:url', content='https://deletist.xyz/')
meta(property='og:image', content='https://deletist.xyz/delete-the-excess.png')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@charles_rt')
meta(name='twitter:title', content='Be a Deletist. Delete the excess.')
meta(name='twitter:description', content='Advice and guides on how to reduce your digital data footprint, become anonymous, and make more time. This is for the privacy conscious, the minimalists and everyone else.')
meta(name='twitter:url', content='https://deletist.xyz/')
meta(name='twitter:image', content='https://deletist.xyz/delete-the-excess.png')
