nav#nav.full-width
  .container
    ul
      .card-row
        li.card.tile
          a(href='facebook')
            span.heading-secondary Delete
            | Facebook
        li.card.tile
          a(href='google')
            span.heading-secondary Delete
            | Google
        li.card.tile
          a(href='linkedin')
            span.heading-secondary Delete
            | LinkedIn
      .card-row
        li.card.tile
          a(href='messaging')
            span.heading-secondary Encrypted
            | Messaging
        li.card.tile
          a(href='email')
            span.heading-secondary Private
            | Email
        li.card.tile
          a(href='browsing')
            span.heading-secondary Focussed
            | Browsing
    footer
      p
        a(href='#top') Back to top
      p
        a(href='/') Back to homepage
      p Made by&nbsp;
        a(href='https://twitter.com/charles_rt') @charles_rt
        | , code on&nbsp;
        a(href='https://github.com/charlesrt/delete-the-excess') Github
      p This website does not track you.
