nav#nav.full-width
  .container
    p What do you want to delete?
    ul
      li
        a(href='facebook') Facebook
      li
        a(href='google') Google
      li
        a(href='linkedin') LinkedIn
      li
        a(href='reddit') Reddit
      li
        a(href='instagram') Instagram
      li
        a(href='whatsapp') WhatsApp
    p Want to be safer online? Try these alternatives
    ul
      li
        a(href='messaging') Encrypted Messaging
      li
        a(href='email') Private Email
      li
        a(href='browsing') Focused Browsing
