nav#nav.full-width
  .container
    p
      a(href='#nav') #navigation
    ul
      li
        a(href='facebook') Delete Facebook
      li
        a(href='google') Delete Google
      li
        a(href='linkedin') Delete LinkedIn
      li
        a(href='reddit') Delete Reddit
        |&nbsp;(incomplete)
      li
        a(href='instagram') Delete instagram
        |&nbsp;(incomplete)
      li
        a(href='whatsapp') Delete WhatsApp
        |&nbsp;(incomplete)
      li
        a(href='messaging') Encrypted Messaging alternatives
      li
        a(href='email') Private Email alternatives
      li
        a(href='browsing') Focused Browsing alternatives

    footer
      :markdown
        [Back to top](#top) | [Back to homepage](/)

        Made by [@charles\_rt](https://twitter.com/charles_rt). Code on [Github](https://github.com/charlesrt/delete-the-excess). This website does not track you.
