nav#nav.full-width
  .container
    p
      a(href='#nav') #navigation
    ul
      li
        a(href='facebook') Delete Facebook
      li
        a(href='google') Delete Google
      li
        a(href='linkedin') Delete LinkedIn
      li
        a(href='messaging') Encrypted Messaging
      li
        a(href='email') Private Email
      li
        a(href='browsing') Focussed Browsing
      li
        strike Delete Reddit
        |&nbsp;(coming soon)
      li
        strike Delete Instagram
        |&nbsp;(coming soon — figuring out a clear way to download data)
      li
        strike Delete WhatsApp
        |&nbsp;(coming soon — awaiting response as to why they can't delete my account “right now” 🤔)

    footer
      :markdown
        [Back to top](#top) | [Back to homepage](/)

        Made by [@charles\_rt](https://twitter.com/charles_rt). Code on [Github](https://github.com/charlesrt/delete-the-excess). This website does not track you.
