footer.full-width
  nav
    .container
      :markdown
        [Back to top](#top) | [Back to homepage](/)

        Made by [@charles\_rt](https://twitter.com/charles_rt) who still uses Twitter but is on the path to deletism.
        
        Code on [Github](https://github.com/charlesrt/delete-the-excess) because some things should always be open.

        ##### This website does not track you.
