meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')

title Be a Deletist
meta(name='description', content='Advice and guides on how to reduce your digital data footprint, become anonymous, and make more time. This is for the privacy conscious, the minimalists and everyone else.')
meta(name='author', content='Charles Reynolds-Talbot')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

link(rel='apple-touch-icon' href='favicon.png')
link(rel="stylesheet" href="/main.css")

meta(property='og:site_name', content='Be a Deletist')
meta(property='og:type', content='website')
meta(property='og:title', content='Be a Deletist')
meta(property='og:description', content='Advice and guides on how to reduce your digital data footprint, become anonymous, and make more time. This is for the privacy conscious, the minimalists and everyone else.')
meta(property='og:url', content='https://deletist.xyz/')
meta(property='og:image', content='https://deletist.xyz/embed-card.png')

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@charles_rt')
meta(name='twitter:title', content='Be a Deletist')
meta(name='twitter:description', content='Advice and guides on how to reduce your digital data footprint, become anonymous, and make more time. This is for the privacy conscious, the minimalists and everyone else.')
meta(name='twitter:url', content='https://deletist.xyz/')
meta(name='twitter:image', content='https://deletist.xyz/embed-card.png')
