nav#nav.container
  h2.center What do you want to delete?
  ul
    li
      a(href='facebook')
        span.icon.icon--facebook
          include /icons/facebook.svg
        span.title facebook
    li
      a(href='google')
        span.icon.icon--google
          include /icons/google.svg
        span.title google
    li
      a(href='linkedin')
        span.icon.icon--linkedin
          include /icons/linkedin.svg
        span.title linkedin
    li
      a(href='reddit')
        span.icon.icon--reddit
          include /icons/reddit.svg
        span.title reddit
    li
      a(href='instagram')
        span.icon.icon--instagram
          include /icons/instagram.svg
        span.title instagram
    li
      a(href='whatsapp')
        span.icon.icon--whatsapp
          include /icons/whatsapp.svg
        span.title whatsapp
  h3.center Want to be safer online?
    br
    | Try these alternatives
  ul
    li
      a(href='messaging') Encrypted Messaging
    li
      a(href='email') Private Email
    li
      a(href='browsing') Focused Browsing
