nav#guides
  h2 The Top 10 Delete Hit List
  ul
    li.facebook
      a(href='facebook')
        span.icon.icon--facebook
          include /icons/facebook.svg 
        span.title 1. Facebook
        span.desc MDP: Most deleted player.
    li.google
      a(href='google')
        span.icon.icon--google
          include /icons/google.svg
        span.title 2. Google
        span.desc Don't be ignorant to Google. They have just as much if not more data on you than Facebook. There are alternatives.
    li.linkedin
      a(href='linkedin')
        span.icon.icon--linkedin
          include /icons/linkedin.svg
        span.title 3. Linkedin
        span.desc Constant use of dark patterns in an attempt to harvest more data from your contacts. 
    li.twitter
      a(href='twitter')
        span.icon.icon--twitter
          include /icons/twitter.svg
        span.title 4. Twitter
        span.desc Twitter can be a dark place full of angry people. 
    li.producthunt
      a(href='https://www.producthunt.com/posts/be-a-deletist')
        span.icon.icon--producthunt
          include /icons/producthunt.svg
        span.title #5 Product of the Day on Product Hunt 😻 
        span.desc This one isn't really a delete guide. We're just super pleased with the recognition this website received and it makes us want to dance 💃
    li.snapchat
      a(href='#signup')
        span.icon.icon--snapchat
          include /icons/snapchat.svg
        span.title 6. Snapchat
        span.desc Delete guide coming soon, by popular request. Sign up to our newsletter to be first to find out when it arrives.
    li.instagram
      a(href='instagram')
        span.icon.icon--instagram
          include /icons/instagram.svg
        span.title 7. Instagram
        span.desc Instagram is pretty and you can go private but it's still distracting and it's part of the Facebook Group.
    li.missing
      a(href='#signup')
        span.title 8. What's missing?
        span.desc Who do you think is missing from our Top 10 Delete Hit List? Sign up to our newsletter to join the conversation and tell us who you want to see on the list.
    li.whatsapp
      a(href='whatsapp')
        span.icon.icon--whatsapp
          include /icons/whatsapp.svg
        span.title 9. Whatsapp
        span.desc To be fair, Whatsapp is pretty secure. It's unfortunate then that they're part of the Facebook Group and share metadata.
    li.reddit
      a(href='reddit')
        span.icon.icon--reddit
          include /icons/reddit.svg
        span.title 10. Reddit
        span.desc A rabbit hole of distraction. Could get bumped off the list at any moment.

nav  
  h2 Want to be safer online? 
    br
    | Try these alternatives
  ul
    li
      a(href='messaging') 💬 Encrypted Messaging
    li
      a(href='email') ✉️ Private Email
    li
      a(href='browsing') 🖥 Focused Browsing
