doctype
html
  head
    != partial("_partial/head")
    link(rel="stylesheet" href="/main.css")
  body
  != partial("_partial/header")
  .container
    != yield
    hr
    != partial("_partial/nav")
  != partial("_partial/footer")
