doctype
html
  head
    != partial("_partial/head")
  body
    != partial("_partial/header")
    main(class="#{ current.path[0] }").container
      != yield
      != partial("_partial/share")              
    != partial("_partial/signup") 
    .container
      != partial("_partial/nav")
    != partial("_partial/footer")
    script(src="/local.js")
