doctype
html
  head
    != partial("_partial/head")
  body
    != partial("_partial/header")
    main.container
      h1.center Deletist
      p Noun&nbsp;
        em /dɪˈliːtɪst/

      :markdown
        1. a person who **deletes their data in the quest for anonymity, privacy and safety online**: paving the way for ethical decentralised systems.
        
        2. a person who **values their time and seeks to make more**: deleting distractions.
        
        3. a person who treats **deletism as the digital synonym to physical minimalism**: keeping the value, deleting the excess.
        
      != partial("_partial/share")              
    != partial("_partial/signup") 
    .container   
      != partial("_partial/nav")
    != partial("_partial/footer")
