// Config -----------------------------------
syntax-hue =          220;
syntax-saturation =   13%;
syntax-brightness =   18%;

// Brand colors ------------------------------------
facebook-blue = #3B5998
google-blue = #4285F4
linkedin-blue = #0077B5
reddit-red = #FF4500
instagram-pink = #E4405F
whatsapp-green = #25D366
twitter-blue = #1DA1F2
producthunt-orange = #DA552F
snapchat-yellow = #FFFC00

// Base colors -----------------------------------
white = #FFFFFF
black = #000000
background = white
foreground = black // was #101010
middleground = black // was #696969
divider = black // was #EEEEEE
primary = black
secondary = white
accent = white

// Fonts -----------------------------------

fontstack = -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Fira Sans",
            "Droid Sans",
            "Helvetica Neue",
            sans-serif

font-size = 1em //16px

size-4x = (font-size * 4) //128px
size-3x = (font-size * 3) //64px
size-2x = (font-size * 2) //32px
size-1x = (font-size * 1.125) //18px
size-half = (font-size / 2) //8px
size-quarter = (font-size / 4) //4px

// Mixins ----------------------------------

// Begin -----------------------------------

::selection
  color white
  background black

body
  font 400 size-1x / 1.6 fontstack
  color foreground
  background-color background
  margin 0 0 0 0
  padding 0 size-1x
  text-size-adjust 100%
  font-feature-settings 'kern' 1
  font-kerning normal

h1, h2, h3, h4, h5, h6, p, a
  margin size-1x 0

h1, h2, h3, h4, h5, h6
  font-weight 900
  line-height 1.2
  text-transform uppercase

h1
  background black
  color white
  font-size size-4x
  margin size-1x 0
  padding size-half
  text-transform uppercase
  text-align center
  @media (max-width: 414px)
    font-size size-3x

h2
  width 80%
  :after
    content ""
    display block
    height 8px
    margin size-quarter 0
    background-color black

blockquote
  border-left size-quarter solid accent
  color middleground
  padding-left size-1x
  font-style italic
  p
    display inline

p
  margin size-1x 0

a
  color inherit
  font-weight 700
  white-space pre-wrap /* css-3 */
  white-space -moz-pre-wrap /* Mozilla, since 1999 */
  white-space -pre-wrap /* Opera 4-6 */
  white-space -o-pre-wrap /* Opera 7 */
  word-wrap break-word /* Internet Explorer 5.5+ */
  :after
    content ""
    display inline
    height 4px
    margin size-quarter 0
    background-color black
  :hover
    text-decoration line-through
    color white
    background black

ul, ol
  padding-left: 1.6em

ol
  list-style none
  counter-reset item
  > li
    font-size font-normal
    margin size-1x 0
    :before
      content counter(item) ""
      counter-increment item
      display inline-block
      font-weight 700
      font-style italic
      font-size (font-size * 1.25)
      width size-1x
      margin-left -@width
      vertical-align super
    > p
      display inline

label
  display block
  margin 0 0 size-quarter

input
  width 80%
  background black
  border 2px solid white
  color white
  font-size size-1x
  padding size-half

button
  background white
  color black
  border 2px solid @background
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size size-1x
  font-weight 800
  text-transform uppercase
  padding size-half size-1x
  margin-left -2px
  span.count
    border-left 1px solid white
    font-weight 400
    margin-left size-half
    padding-left size-half
  &.facebook
    background facebook-blue
    color white
  &.google
    background google-blue
    color white
  &.linkedin
    background linkedin-blue
    color white
  &.reddit
    background reddit-red
    color white
  &.instagram
    background instagram-pink
    color white
  &.whatsapp
    background whatsapp-green
    color white
  &.twitter
    background twitter-blue
    color white
  &.producthunt
    background producthunt-orange
    color white
  &.snapchat
    background snapchat-yellow
    a
      color black
    :hover
      a
        color white
    .icon
      background transparent
      svg path
        fill black
    :hover
      .icon svg path
        fill white
  :hover
    background black
    border 2px solid white
    color white
    .icon
      background transparent
      svg path
        fill white

hr
  border none
  border-top 2px dashed divider

img
  max-width 100%

nav
  ul
    list-style none
    padding 0
  a
    text-decoration none

nav#share
  ul
    margin 0 auto size-1x
    text-align center
    li
      display inline-block

header, footer, .full-width
  background black
  color white
  margin 0 (-1 * size-1x)
  padding size-1x
  nav
    max-width 1242px
    h1, h2, h3, h4, h5, h6, p, a, ol, ul, blockquote
      color @color
    a
      font-weight 700
      text-decoration none
      :hover
        text-decoration line-through
    ul
      float right
      display inline-block
      margin 0
      padding 0
      list-style none
      @media (max-width: 960px)
        float none
        display block
      li
        margin 0 size-2x 0 0
        display inline-block
        text-align left
        :last-of-type
          margin-right 0
        @media (max-width: 960px)
          margin-top size-half
        a
          font-weight 700
          text-transform uppercase

main
  &.facebook
    h1
      background facebook-blue
  &.google
    h1
      background google-blue
  &.linkedin
    h1
      background linkedin-blue
  &.reddit
    h1
      background reddit-red
  &.instagram
    h1
      background instagram-pink
  &.whatsapp
    h1
      background whatsapp-green
  &.twitter
    h1
      background twitter-blue
  &.snapchat
    h1
      background snapchat-yellow

nav#guides
  ul
    list-style none
    padding 0
    margin size-1x 0 0
    > li
      margin size-1x 0
      display block
      padding size-1x
      &.facebook
        background facebook-blue
      &.google
        background google-blue
      &.linkedin
        background linkedin-blue
      &.reddit
        background reddit-red
      &.instagram
        background instagram-pink
      &.whatsapp
        background whatsapp-green
      &.twitter
        background twitter-blue
      &.producthunt
        background producthunt-orange
      &.snapchat
        background snapchat-yellow
        a
          color black
        :hover
          a
            color white
        .icon
          background transparent
          svg path
            fill black
        :hover
          .icon svg path
            fill white
      &.missing
        background white
        a
          color black
        :hover
          a
            color white
      a
        color white
        margin 0
        display block
        text-decoration none
      span.icon
        display block
        svg
          margin-left 0
      span.title
        font-size size-3x
        font-weight 900
        text-transform uppercase
      span.desc
        display block
        font-weight 400
      :hover
        background black
        color white
        .icon
          background black

#buttons_delete
  display flex
  flex-flow row wrap
  justify-content space-around
  form
    margin size-half auto

.container
  max-width 736px
  margin 0 auto
  padding 0 size-1x
  @media (max-width: 414px)
    padding 0

.hero.full-width
  .container
    @media (min-width: 414px)
      margin size-4x auto
    @media (max-width: 414px)
      padding 0 size-1x

.hidden
  display none

.center
  text-align center

// Icons -----------------------------------
.icon
  display inline-block
  width size-2x
  height size-2x
  background black
  svg
    width (@width / 2)
    height (@height / 2)
    margin size-half
    vertical-align middle
    path
      fill white
  :hover
    svg path
      fill none

.icon--facebook
  background facebook-blue

.icon--google
  background google-blue

.icon--linkedin
  background linkedin-blue

.icon--reddit
  background reddit-red

.icon--instagram
  background instagram-pink

.icon--whatsapp
  background whatsapp-green

.icon--twitter
  background twitter-blue

.icon--producthunt
  background producthunt-orange
